*{
    margin: 0;
    padding: 0;
    text-align: center;
}
div{
    background-color: bisque;
    /* para que no sumen un borde con otro cambiamos borde por outline */
    outline: 1px black solid;
}
main, header {
    background-color: blueviolet;
}

p, h2{
    background-color: bisque;
    padding: 10px;
}

.doble, .senzilla{
    display: flex;
    flex-wrap: wrap;
}

/* flex-grow: 1; flex-shrink: 1; flex-basis: 0;.  */
.texto{
    flex: 1 1 0;
}
.texto.col-2{
    flex-grow: 2;
}

