*{

    padding: 10px;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
}

header{
    background-image:url(/pagina-baner/img/galaxia.jpg);
    background-size: cover;
    color:white;
    text-shadow: 0px 0px 5px rgba(0, 0, 4);
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    text-decoration: underline;
}

body{
    display: flex;
    flex-direction: column-reverse;
}